# Local secrets
.env
**/.env
.passphrase
**/.passphrase

# Credentials
**/credentials.json
**/*-token.json

# OS files
.DS_Store
**/.DS_Store
application_default_credentials.json
credentials/
logs/*.log
pipeline-output.txt
